@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Multiplicar</h2>
        <div class="form-group">
            @Html.TextBox("txtMultiplicador", "", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button class="btn btn-success" id="btnmultiplicar">Submit</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cargar Listado</h2>
        <div class="form-group">
            <button class="btn btn-success" id="btncargar">Cargar</button>
        </div>
        <div id="divGet"></div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {

            $("#txtMultiplicador").on('input', function () {
                var value = $(this).val();
                //console.log(value);
            });

            $("#btnmultiplicar").click(function () {
                var numero = $("#txtMultiplicador").val();
                var url = "@Url.Action("Duplicar", "Home")";
                var data = { numero: numero };
                $.post(url, data).done(function (result) {
                    console.log(result);
                    $("#txtMultiplicador").val(result);
                }).fail(function (err) {
                    console.log(err);
                });
            });

            $("#btncargar").click(function () {
                $(this).prop("disabled", "disabled");
                var url = "@Url.Action("CargarDatos", "Home")";

                $.get(url).done(function (data) {
                    $("#divGet").append(data);
                }).fail(function (err) {
                    console.log(err);
                });
            });
        });
    </script>
}